/*.table tr td:first-child, .table tr th:first-child{
    padding: 10px 20px;
}*/

/*.table .first-child{
    width: 30px;
}*/

.table:not(.no-header) tbody tr:first-child {
    background-color: #f1f3f5;
}

.table tr td:last-child{
    width:140px;
}

.table tr td:last-child a{
    color:#333;
/*    border: 1px solid black;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 5px;*/
}

.table tr td:last-child a::after{
    content: ' ';
}

.table tr td:last-child a{
    padding: 0 6px;
    margin-right: 5px;
    line-height: 1.3;
}

.table tr td:last-child a > i{
    font-size: 10px;
    color: #fff;
    vertical-align: middle;
}

.grid-row-delete{
    background: #ef5757;
    border: #ef5757;
}

.grid-row-edit{
    background: #f18917;
    border: #f18917;
}

.bd-callout{
    padding: 0.7rem;
    margin-bottom: 0.7rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-primary{
    border-left-color: #c1e8ff;
}

.bd-callout-success{
    border-left-color: #7194b9;
}

.bd-callout-info{
    border-left-color: #ffc1c1;
}

.bd-callout-warning{
    border-left-color: #ffc973;
}

body{
    font-family: "Helvetica";
}

.grid-refresh{
    display: none;
}

.radio-inline{
    padding-left: 0;
}

#examMarks .col-md-4{
    padding-right: 0;
}