hr {
    border: 0;
    width: 96%;
    height: 1px;
}




/*----- Tabs -----*/

.tabs {
    width: 100%;
    display: inline-block;
}




/*----- Tab Links -----*/


/* Clearfix */

.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
    background: #7FB5DA;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
}

.tab-links a:hover {
    background: #a7cce5;
    text-decoration: none;
}


/*----- Content of Tabs -----*/

.tab-content {
    padding: 15px;
    border-radius: 3px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    background: #fff;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}




/*collapse data*/

.dependent-exam .col-md-1 {
    width: 7.333333%;
}

.related-users {
    width: 100%;
    height: 10%;
    border: 1px solid #cecece;
    background: #ececec;
    height: 50vh;
    max-height: 280px;
    overflow-y: auto;
    position: relative;
}

.related-users>.header {
    text-align: center;
    font-size: 14px;
    padding: 3px 0;
    font-weight: 600;
    color: white;
    background: #7d7d7d;
    position: sticky;
    top: 0;
    z-index: 1;
}

.related-users ul {
    margin-bottom: 5px;
}

.related-users .list-group-item {
    padding: 5px 10px;
}

.related-users .sub-title {
    font-size: 12px;
    color: gray;
}

.noDataDiv {
    display: flex;
    height: 89%;
    justify-content: center;
    align-items: center;
    color: #ababab;
}