.tooltip {
    width: 100%;
}

.tg {
    border-spacing: 0;
    width: 100%
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-qb4h {
    background-color: #fffaf0;
    vertical-align: top
}

.tg .tg-3we0 {
    background-color: #ffffff;
    vertical-align: top
}